<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcom.scheduler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.marcom.scheduler.ClubActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.marcom.scheduler.AddClubActivity"
            android:label="@string/title_activity_add_club"
            android:parentActivityName="com.marcom.scheduler.ClubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcom.scheduler.ClubActivity" />
        </activity>
        <activity
            android:name="com.marcom.scheduler.EventActivity"
            android:label="@string/title_activity_event"
            android:parentActivityName="com.marcom.scheduler.ClubActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcom.scheduler.ClubActivity" />
        </activity>
        <activity
            android:name="com.marcom.scheduler.AddEventActivity"
            android:label="@string/title_activity_add_event"
            android:parentActivityName="com.marcom.scheduler.EventActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcom.scheduler.EventActivity" />
        </activity>
    </application>

</manifest>
